<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">

        {% if status_ok %}
            <h1 class="text-center">ОБНОВЛЕНО УСПЕШНО!</h1>
        {% elif status_error %}
            <h1 class="text-center">ПРОИЗОШЛА ОШИБКА!</h1>
            <p class="text-center text-wrap">{{error}}</p>
        {% else %}
            <h1 class="text-center">Обновить настройки нейронки</h1>
        {% endif %}

        <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="mt-3">
                    <label for="model">Новая модель</label>
                    <input class="form-control-file" type="file" name="model" id="model" required>
                </div>
                <div class="mt-3">
                    <label for="model_class">model_class.json</label>
                    <input class="form-control-file" type="file" name="model_class" id="model_class" required>
                </div>
                <div class="mt-3">
                    <label for="objects_amount">Количество объектов в модели</label>
                    <input class="form-control" type="number" name="objects_amount" id="objects_amount" required>
                </div>
                <div class="mt-3">
                    <button type="submit">Обновить</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>